{% case section.settings.slideshow_height %}
	{% when 'small' %}{%- assign img_size = '2048x400' -%}
	{% when 'medium' %}{%- assign img_size = '2048x600' -%}
	{% when 'large' %}{%- assign img_size = '2048x1214' -%}
{% endcase %}


<div class="section section_homepage section_slideshow_full_width section_slideshow__{{ section.settings.slideshow_height }} swiper-container" id="slideshow_{{ section.id }}" data-autoplay="{{ section.settings.autoplay }}" data-speed="{{ section.settings.autoplay_speed }}">
	<div class="swiper-wrapper">
		{% for block in section.blocks %}
			{% case block.type %}
				{% when 'image' %}
					<div class="swiper-slide image_slide">
						{% if block.settings.image.size > 0 %}
							<div class="img_placeholder__wrap img_placeholder__{{ section.settings.slideshow_height }}" style="background-image: url( {{ block.settings.image | img_url: img_size, crop: block.settings.img_alignment }} );"></div>
						{% else %}
							<div class="img_placeholder__wrap img_placeholder__{{ section.settings.slideshow_height }}">
								{% capture current %}{% cycle 1, 2 %}{% endcapture %}
								{{ 'lifestyle-' | append: current | placeholder_svg_tag: 'img_placeholder' }}
							</div>
						{% endif %}

						{% if block.settings.caption_txt3.size > 0 %}
							{%- assign no_button = false -%}
						{% else %}
							{%- assign no_button = true -%}
						{% endif %}

						{% if block.settings.caption_link.size > 0 and no_button %}
							<a class="slide_caption" href="{{ block.settings.caption_link }}">
						{% else %}
							<div class="slide_caption position_{{ block.settings.caption_position }}">
						{% endif %}
                            <div  class="container">
							<div class="caption_text">
								{% if block.settings.caption_txt1.size > 0 %}<h2 class="slide_title">{{ block.settings.caption_txt1 }}</h2>{% endif %}
								{% if block.settings.caption_txt2.size > 0 %}<p>{{ block.settings.caption_txt2 }}</p>{% endif %}
								{% if block.settings.caption_link.size > 0 and block.settings.caption_txt3.size > 0 %}
									<a class="btn slider_btn" href="{{ block.settings.caption_link }}">{{ block.settings.caption_txt3 }}</a>
								{% endif %}
                              	<!-- ADD -->
								{% if block.settings.caption_txt4.size > 0 %}								
									<a class="btn slider_btn" href="{{ block.settings.caption_link_secondary }}">{{ block.settings.caption_txt4 }}</a>
								{% endif %}
								<!-- ADD END -->
							</div>
                            </div>
						{% if block.settings.caption_link.size > 0 and no_button %}
							</a>
						{% else %}
							</div>
						{% endif %}
					</div>

			{% endcase %}

		{% endfor %}

        <!-- MOD -->
		<!-- <div id="pagination_{{ section.id }}" class="swiper_pagination"></div> -->

		<!-- <div id="slider_prev_{{ section.id }}" class="swiper_btn swiper_btn__prev"></div> -->
		<!-- <div id="slider_next_{{ section.id }}" class="swiper_btn swiper_btn__next"></div> -->
        <!-- MOD END -->

	</div>

</div>

{% schema %}
{
	"name": "Slideshow full width",
	"class": "index-section",
	"max_blocks": 4,
	"settings": [
		{
			"type": "checkbox",
			"id": "autoplay",
			"label": "Slideshow autoplay",
			"default": true
		},
		{
			"type": "select",
			"id": "autoplay_speed",
			"label": "Autoplay transition duration",
			"options": [
				{ "value": "5000", "label": "5 seconds" },
				{ "value": "6000", "label": "6 seconds" },
				{ "value": "7000", "label": "7 seconds" },
				{ "value": "8000", "label": "8 seconds" },
				{ "value": "9000", "label": "9 seconds" },
				{ "value": "10000", "label": "10 seconds" }
			],
			"default": "7000"
		},
		{
			"type": "select",
			"id": "slideshow_height",
			"label": "Slide image size",
			"options": [
				{
					"label": "Small (2048x400)",
					"value": "small"
				},
				{
					"label": "Medium (2048x600)",
					"value": "medium"
				},
				{
					"label": "Large (2048x1214)",
					"value": "large"
				}
			]
		}
	],
	"blocks": [

		// IMAGE SLIDE ////////////////////////////////////////////////////////////////////////////////////
		{
			"type": "image",
			"name": "Image slide",
			"settings": [

				// IMAGE //////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Image"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Slide image should be more than 2048px wide"
				},
				{
					"type": "select",
					"id": "img_alignment",
					"label": "Image alignment",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},

				// CAPTION ////////////////////////////////////////////////////////////////////////////////
				{
					"type": "header",
					"content": "Caption"
				},
				{
					"type": "select",
					"id": "caption_position",
					"label": "Caption position",
					"default": "center",
					"options": [
						{
							"label": "Left",
							"value": "left"
						},
						{
							"label": "Right",
							"value": "right"
						},
						{
							"label": "Center",
							"value": "center"
						}
					]
				},
				
				{
					"type": "text",
					"id": "caption_txt1",
					"label": "Heading",
					"default": "Slideshow"
				},
				{
					"type": "text",
					"id": "caption_txt2",
					"label": "Subheading",
					"default": "Tell your brand's story and images"
				},
				{
					"type": "text",
					"id": "caption_txt3",
					"label": "Primary Button",
					"default": "SHOP NOW"
				},
				{
					"type": "url",
					"id": "caption_link",
					"label": "Primary Button Link"
				},				
				{
					"type": "text",
					"id": "caption_txt4",
					"label": "Secondary Button",
					"default": "OUR MISSION"
				},
				{
					"type": "url",
					"id": "caption_link_secondary",
					"label": "Secondary Button Link"
				}
			]
		}
	],
	"presets": [{
		"name": "Slideshow full width",
		"category": "Image",
		"settings": {
			"autoplay": true,
			"autoplay_speed": "5000"
		},
		"blocks": [
			{
				"type": "image"
			},
			{
				"type": "image"
			}
		]
	}]
}
{% endschema %}

{% javascript %}
jQuery(document).ready(function($) {
	$('.section_slideshow_full_width').each(function(i) {

		var sliderId = '#' + $(this).attr('id');
		var sliderVar = $(this).attr('id');
		var sliderPagination = '#pagination_' + sliderVar.replace('slideshow_', '');
		var sliderPrev = '#slider_prev_' + sliderVar.replace('slideshow_', '');
		var sliderNext = '#slider_next_' + sliderVar.replace('slideshow_', '');

		var sliderAutoplay = $(this).data('autoplay');
		if ( sliderAutoplay == true ) {
			sliderAutoplay = $(this).data('speed');
		};

		var sliderVar = new Swiper( sliderId, {
			effect: 'fade',
			autoplay: sliderAutoplay,
			loop: true,
			speed: 500,
			autoplayDisableOnInteraction: false,

			pagination: sliderPagination,
			paginationClickable: true,

			paginationBulletRender: function (sliderVar, index, className) {
				return '<span class="' + className + '">' + (index + 1) + '</span>';
			},
			
			prevButton: sliderPrev,
			nextButton: sliderNext,

		});

		$(window).on('load', function() {
			sliderVar.onResize(); // updating swiper after loading
		});

	});

});
{% endjavascript %}