{% case section.blocks.size %}
	{% when 1 %}
		{%- assign block_class = 'col-xs-12' -%}
		{% if section.settings.boxed %}
			{%- assign img_w = 1170 -%}
		{% else %}
			{%- assign img_w = 2048 -%}
		{% endif %}

	{% when 2 %}
		{%- assign block_class = 'col-xs-6' -%}
		{% if section.settings.boxed %}
			{%- assign img_w = 570 -%}
		{% else %}
			{%- assign img_w = 1024 -%}
		{% endif %}

	{% when 3 %}
		{%- assign block_class = 'col-xs-4' -%}
		{% if section.settings.boxed %}
			{%- assign img_w = 370 -%}
		{% else %}
			{%- assign img_w = 682 -%}
		{% endif %}

	{% else %}
		{%- assign block_class = 'col-xs-3' -%}
		{% if section.settings.boxed %}
			{%- assign img_w = 270 -%}
		{% else %}
			{%- assign img_w = 512 -%}
		{% endif %}

{% endcase %}

{% case section.settings.section_height %}
	{% when 'small'  %}
		{%- assign img_h = 270 -%}
	{% when 'medium' %}
		{%- assign img_h = 330 -%}
	{% when 'large'  %}
		{%- assign img_h = 512 -%}
{% endcase %}

{% capture img_size %}{{ img_w }}x{{ img_h }}{% endcapture %}

{% if section.settings.section_subtitle.size > 0 %}
	<h4>{{ section.settings.section_subtitle }}</h4>
{% endif %}

{% if section.settings.section_title.size > 0 %}
	<h2>{{ section.settings.section_title }}</h2>
{% endif %}

<div class="section_gallery__{{ section.blocks | size }} {{ section.settings.section_style }}">

	{% if section.settings.boxed %}
		<div class="container">
	{% endif %}
		<div class="row{% unless section.settings.boxed %} galery_wrap{% endunless %}"> 

		{% for block in section.blocks %}
			<div class="{{ block_class }}">
				<div class="gallery_item">
					{% if block.settings.item_img.size > 0 %}
						<div class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }}" style="background-image: url( {{ block.settings.item_img | img_url: img_size, crop: block.settings.item_img_alignment }} );"></div>
					{% else %}
						<div class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }}">
							{{ 'image' | placeholder_svg_tag: 'img_placeholder' }}
						</div>
					{% endif %}

					{% if block.settings.item_link.size > 0 or block.settings.item_text.size > 0 %}
						{% if block.settings.item_link.size > 0 %}
							<a class="item_caption" href="{{ block.settings.item_link }}">
						{% else %}
							<div class="item_caption">
						{% endif %}

							<div class="caption_text">
								{% if block.settings.item_text1.size > 0 %}
									<h4>{{ block.settings.item_text1 }}</h4>
								{% endif %}

								{% if block.settings.item_text2.size > 0 %}
									<h3>{{ block.settings.item_text2 }}</h3>
								{% endif %}
							</div>

						{% if block.settings.item_link.size > 0 %}
							</a>
						{% else %}
							</div>
						{% endif %}
					{% endif %}
				</div>
			</div>
		{% endfor %}

		</div>
	{% if section.settings.boxed %}
		</div>
	{% endif %}
</div>

{% schema %}
{
	"name": "Gallery",
	"class": "section section_homepage section_gallery",
	"max_blocks": 4,
	"settings": [
		{
			"id": "section_subtitle",
			"type": "text",
			"label": "Heading"
		},
		{
			"id": "section_title",
			"type": "text",
			"label": "Heading",
			"default": "Galery"
		},
		{
			"type": "select",
			"id": "section_height",
			"label": "Section height",
			"options": [
				{
					"label": "Small",
					"value": "small"
				},
				{
					"label": "Medium",
					"value": "medium"
				},
				{
					"label": "Large",
					"value": "large"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "boxed",
			"label": "Boxed size"
		},
		{
			"type": "select",
			"id": "section_style",
			"label": "Section style",
			"default": "style_1",
			"options": [
				{
					"label": "Style #1",
					"value": "style_1"
				},
				{
					"label": "Style #2",
					"value": "style_2"
				},
				{
					"label": "Style #3",
					"value": "style_3"
				}
			]
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "item_img",
					"label": "Image",
					"info": "For higher quality upload images wider than 2048 pixels"
				},
				{
					"type": "select",
					"id": "item_img_alignment",
					"label": "Image alignment",
					"default": "center",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				{
					"type": "url",
					"id": "item_link",
					"label": "Link",
					"info": "Optional"
				},
				{
					"type": "text",
					"id": "item_text1",
					"label": "Caption text #1"
				},
				{
					"type": "text",
					"id": "item_text2",
					"label": "Caption text #2"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Gallery",
			"category": "Image",
			"blocks": [
				{
					"type": "image"
				},
				{
					"type": "image"
				},
				{
					"type": "image"
				}
			]
		}
	]
}
{% endschema %}