{% if settings.wishlist_toggle %}

	{% case section.settings.product_img_size %}
		{% when 'small'  %}{%- assign img_size = '270x151' -%}
		{% when 'medium' %}{%- assign img_size = '270x270' -%}
		{% when 'large'  %}{%- assign img_size = '270x360' -%}
	{% endcase %}

	{%- assign img_alignment = section.settings.product_img_alignment -%}

	<div class="wishlist_page" id="wishlist_page" data-customer="{% if customer %}true{% else %}false{% endif %}">
		<div {% unless settings.sidebar_toggle %} class="container"{% endunless %}>
			{% assign A = 'layout.wishlist.wishlist_items' | t %}{% if A.size == 0 %}{% assign A = 'item(s)' %}{% endif %}
			<h1 class="page_heading">{{ page.title }}{% if customer %} — <span id="wishlist_products_number"></span> {{ A }}{% endif %}</h1>

			<div class="page_content">
				{% if page.content.size > 0 %}
					<div class="rte">
						{{ page.content }}
					</div>
				{% endif %}

				{% if customer %}

					<div class="product_listing_main row">
						{% for tag in customer.tags %}
							{%- assign primary_tag = tag | replace:'+0' -%}

							{% if all_products[primary_tag].id.size > 0 %}
								{% if tag contains '+0' %}
									{%- assign super_tag = tag | prepend:'+0' -%}

									{% if customer.tags contains super_tag %}
										{%- assign item = 'null' -%}
									{% else %}
										{%- assign diff = tag.size | minus:primary_tag.size | modulo:4 -%}

										{% if diff == 0 %}
											{%- assign item = tag -%}
										{% endif %}
									{% endif %}
								{% else %}
									{%- assign super_tag = tag | prepend:'+0' -%}

									{% if customer.tags contains super_tag %}
										{%- assign item = 'null' -%}
									{% else %}
										{%- assign item = primary_tag -%}
									{% endif %}
								{% endif %}
							{% endif %}

							{%- assign item_clear = item | replace:'+0' -%}
							{%- assign product = all_products[item_clear] -%}

							{% if product.id.size > 0 %}
								<div id="+0{{ item }}" class="col-xs-6 col-sm-6 {% if settings.sidebar_toggle %} col-md-4 {% cycle 'step3': 'item_3_1', '', '' %}{% else %} col-md-3 {% cycle 'step4': 'item_4_1', '', '', '' %}{% endif %} product product_wishlist {% cycle 'step2': 'item_2_1', '' %}">
									<div class="product_wrapper">
										<a class="product_img" href="{{ product.url }}">
											<img src="{{ product.featured_image.src | img_url: img_size, crop: img_alignment }}" alt="{{ product.title | escape }}">	
										</a>

										<div class="product_info">
											<div class="product_name">
												<a href="{{ product.url }}">{{ product.title | truncate:50 }}</a>
											</div>
											
											{% if product.description.size > 0 %}
												<div class="product_desc">
													<p class="desc_text">{{ product.description | strip_html | truncate: 100 }}</p>
												</div>
											{% endif %}
													
											<div class="product_price">
												{%- assign on_sale = false -%}
												{% if product.compare_at_price > product.price %}
													{%- assign on_sale = true -%}
												{% endif %}

												{% if product.available %}
													{% if product.variants.size == 1 %}
														{% if on_sale %}
															<span class="money money_sale">{{ product.compare_at_price | money }}</span>
														{% endif %}

														<span class="money">{{ product.price | money }}</span>
													{% else %}
														{%- assign prices_sorted = product.variants | sort: 'price' -%}
														<span class="money">{{ prices_sorted.first.price | money }}</span> <span class="money_like">–</span> <span class="money">{{ prices_sorted.last.price | money }}</span>
														<span class="money_variants">({{ product.variants | size }} variants)</span>
													{% endif %}
												{% else %}
													{% if on_sale %}
														<span class="money money_sale">{{ product.compare_at_price | money }}</span>
													{% endif %}

													<span class="money">{{ product.price | money }}</span>
												{% endif %}
											</div>

											<div class="product_links">
												<form method="post" action="/cart/add">
													{% if product.available %}
														{% if product.variants.size == 1 %}    
															{% for variant in product.variants limit:1 %}
																<input type="hidden" name="id" value="{{ variant.id }}" />
																<button class="btn btn-cart" type="submit" title="{{ 'layout.product.add_to_cart' | t }}"><i class="fa fa-shopping-cart"></i></button>
															{% endfor %}
														{% else %}
															<a class="btn btn_options" href="{{ product.url }}" title="{{ 'layout.product.choose_variant_button' | t }}"><i class="fa fa-shopping-cart"></i></a>
														{% endif %}
													{% else %}
														<button class="btn btn-cart btn-disabled" disabled="disabled" title="{{ 'layout.product.unavailable' | t }}"><i aria-hidden="true" class="fa fa-ban"></i></button>
													{% endif %}
												</form>

												<a class="btn quick_view_btn" href="{{ product.url }}" title="{{ 'layout.product.quick_view_button' | t }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
												<script type="application/json" class="product_json">  
													{{ product | json }}
												</script> 

												<a href="#0" class="btn js-remove-button" title="{{ 'layout.wishlist.remove_from_wishlist' | t }}"><i aria-hidden="true" class="fa fa-times"></i></a>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>

				{% else %}

					<p class="alert alert-warning"><a href='/account/login'>{{ 'layout.wishlist.login_to_use_wishlist' | t }}</a></p>

				{% endif %}

				<p id="wishlist_empty" class="alert alert-warning hidden">{{ 'layout.wishlist.empty_wishlist' | t }}</p>

				<form method='post' action='/contact' id='remove' accept-charset='UTF-8'>
					<input name='form_type' type='hidden' value='customer'/>
					<input name='utf8' type='hidden' value='✓'>
					<input type='hidden' name='contact[email]' value='{{ customer.email }}'/>
					<input type='hidden' name='contact[tags]' id='remove-value' value='' />
				</form>

			</div>
		</div>
	</div>



{% else %}
	<script>
	window.location = '/'
	</script>
{% endif %}

{% schema %}
{
	"name": "Wishlist page",
	"class": "section_template section_template__wishlist",
	"settings": [
		{
			"type": "select",
			"id": "product_img_size",
			"label": "Product image size",
			"default": "small",
			"options": [
				{
					"value": "small",
					"label": "Small"
				},
				{
					"value": "medium",
					"label": "Medium"
				},
				{
					"value": "large",
					"label": "Large"
				}
			]
		},
		{
			"type": "select",
			"id": "product_img_alignment",
			"label": "Product image alignment",
			"default": "center",
			"options": [
				{
					"value": "top",
					"label": "Top"
				},
				{
					"value": "center",
					"label": "Middle"
				},
				{
					"value": "bottom",
					"label": "Bottom"
				}
			]
		}
	]
}
{% endschema %}


{% javascript %}
	jQuery(document).ready(function($) {

		var isCustomer = $('#wishlist_page').data('customer')
		
			if ( isCustomer ) {
			
				if ($('.product_wishlist').length == 0) {
					$('#wishlist_empty').removeClass('hidden');
		 			$('#wishlist_products_number').html( 0 );
				}
		 		else {
		 			$('#wishlist_products_number').html( $('.product_wishlist').length );
		 		};
			}		 		
			 	
	});

	function removeFromWishlist($this) {
		

		// select parent li element
		var $elem = $this.closest(".product_wishlist");
		// get the id which is the selected variant tag
		var tagID = $elem.attr("id");
		var $form = $("#remove");

		// set the value of the input in the form to the selected variant
		$("#remove-value").attr("value", tagID);
		
		$("#remove").submit();
		
	};

	$('.js-remove-button').on('click', function(e) {
	 	e.preventDefault();
	 	removeFromWishlist( $(this) );
	});
	


{% endjavascript %}